<div class="exception-body accessdenied-body">
    <div class="exception-panel">
        <img src="../../assets/layout/images/exception/icon-access.png"/>

        <button type="button" (click)="retornar()"
                class="ui-button ui-widget ui-state-default ui-corner-all error-page-btn">
            <span class="ui-button-text ui-c">Voltar ao inicio</span>
        </button>
    </div>

    <div class="exception-band">
        <div class="exception-content">
            <h1>ACESSO NEGADO</h1>
            <p>Sem permissão para acessar está pagina.</p>
            <img src="../../assets/layout/images/logo.png"/>
        </div>
    </div>
</div>