<div class="card-chart">       
        <div class="card">
            <h1 class="centerText">{{titulo}}</h1>
            <p-chart type="pie" [data]="pieData"></p-chart>
            <div class="detail">
                <h3></h3>
                <div class="text-detail">
                    <ul>
                        <li *ngFor="let item of dados.labels; index as i">{{item | titlecase}}<span>{{dados.datasets[0].data[i]}}</span></li>
                    </ul>
                </div>           
            </div>
        </div>
    </div>
