<section class="lo-page-adjustment" #fomSize>

    <div class="card lo-header-page-inner">
        <div class="card-header-title nav-fixed">
            <div class="ui-g-6 ui-toolbar-group-left">
                <div class="lo-header-icon">
                    <i class="lo-header-icon fa fa-calendar"></i>
                </div>
                <div class="lo-header-text">
                    <h1>Reservas</h1>
                    <small>Lista de Reservas realizadas através do aplicativo</small>
                </div>
            </div>
            <div class="ui-g-6 ui-toolbar-group-right">
                <button pButton type="button" *ngIf="selectedReserva" label="Pagar" icon="ui-icon-delete" (click)="getUrl('excluir')"
                        class="green-btn"></button>
                <button pButton  *ngIf="selectedReserva" type="button" label="Gerar Boleto" icon="ui-icon-delete" (click)="getUrl('excluir')"
                        class="blue-btn"></button>
                <button pButton  *ngIf="selectedReserva" type="button" label="Cancelar" icon="ui-icon-delete" (click)="getUrl('excluir')"
                        class="red-btn"></button>
            </div>
        </div>
    </div>

    <div class="card lo-content-page-inner lo-padding-reset">
        <div class="card-w-title">
            <p-toolbar>
                <form [formGroup]="pesquisaForm" (ngSubmit)="pesquisar(0,pesquisaForm.value)">
                    <div class="ui-g form-group">
                        <div class="ui-g-12 ui-md-4">
                            <span class="md-inputfield">
                                <input type="text" formControlName="locacao.categoria_locacoes.id" pInputText>
                                <label>ID</label>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <span class="md-inputfield">
                                <input type="text" formControlName="locacao.categoria_locacoes.descricao" pInputText>
                                <label>Descrição</label>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <span class="md-inputfield">
                                <button style="float: right;" pButton type="submit" label="BUSCAR" icon="ui-icon-search"
                                        class="green-btn"></button>
                            </span>
                        </div>
                    </div>
                </form>
            </p-toolbar>
        </div>
        <p-table [columns]="cols"
                 [value]="reserva?.data"
                 selectionMode="single"
                 dataKey="id"
                 index="id"
                 [(selection)]="selectedReserva"
                 [paginator]="true"
                 [totalRecords]="reserva?.meta?.pagination?.total"
                 [rows]="reserva?.meta?.pagination?.per_page"
                 [responsive]="true"
                 [resizableColumns]="true"
                 [rowsPerPageOptions]="[8,15,20]"
                 [lazy]="true"
                 (onLazyLoad)="loadData($event)"
                 paginatorPosition="bottom" class="content">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td class="ui-resizable-column">
                        {{rowData['id']}}
                    </td>
                    <td class="ui-resizable-column">
                        {{rowData['locador_nome']}}
                    </td>
                    <td class="ui-resizable-column">
                        <span *ngFor="let horario of rowData?.horarios?.data">
                            {{horario['dth_inicio']|date:"EEEE, d 'de' MMMM"}} das {{horario['dth_inicio']|date:"HH'h'mm'm'"}} às {{horario['dth_fim']|date:"HH'h'mm'm'"}}
                        </span>
                    </td>
                    <td class="ui-resizable-column">
                        {{rowData['valor']| currency:'BRL':'symbol':'4.2-2':'pt-br'}}
                    </td>
                    <td class="ui-resizable-column">
                        {{rowData?.status_label?.data?.descricao}}
                    </td>
                </tr>
                <!--<div>
                        <app-loading [carregando]="load"></app-loading>
                    </div>-->
            </ng-template>
        </p-table>
    </div>
</section>
