.pg-perfil-create .card-header-title {
    display: flex;
    justify-content: space-between;
}

.pg-perfil-create .ui-g.form-group > div:first-child {
    padding-left: 2px;
}

.pg-perfil-create .filial-section-title {
    margin: 6px 0 0 !important;
}

.pg-perfil-create .filial-section-subtitle {
    margin: 0 0 6px;
}

.pg-perfil-create .ui-g.form-group > div {
    padding: 1em 1em 0 0;
}

.pg-perfil-create .mb-profile {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.pg-perfil-create .mb-profile a {
    color: #fff;
    margin-top: -40px;
    z-index: 100;
}

.pg-perfil-create .mb-profile-img img {
    margin: 0;
    padding: 0;
    width: 100%;
}

.pg-perfil-create .mb-profile-text {
    align-items: center;
    background: #4caf50;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.pg-perfil-create .mb-profile-text span {
    display: flex;
    align-items: center;
}

.pg-perfil-create .mb-profile-text span i {
    margin-right: 4px;
}

/* pesquisa */
.md-inputfield input {
    width: 100%;
}

.md-inputfield textarea {
    width: 100%;
}
