app-locador-list {
    .card-header-title {
        display: flex;
        justify-content: space-between;
    }
    .ui-g.form-group > div:first-child {
        padding-left: 2px;
    }
    .ui-g.form-group > div:last-child {
        display: flex;
        justify-content: flex-end;
    }

    .md-inputfield input {
        width: 100%;
    }

    .md-inputfield textarea {
        width: 100%;
    }

    .ui-table {
        min-height: 70vh !important;
        .ui-table-wrapper {
            overflow-x: initial !important;
        }
    }
}

