<section class="pg-telefone-form">
    <div class="card-header ch-alt card-header-tel m-b-20 cabecalho_card_cadastro">
        <div class="card-header-left ">
            <h2 class="filial-section-title">Telefones</h2>
            <p class="filial-section-subtitle">Informe dos dados de telefone</p>
        </div>
        <div class="card-header-right">
            <button pButton type="button" (click)="openModal()" icon="ui-icon-add"></button>
        </div>
    </div>
    <!--<div class="card-header ch-alt">-->
    <!--<h2>-->
    <!--Telefones-->
    <!--<button pButton type="button" (click)="openModal()" icon="ui-icon-add"></button>-->
    <!--</h2>-->
    <!--</div>-->
    <div class="margen_um">
    <p-table
        [columns]="cols"
        [value]="telefones"
        selectionMode="single"
        dataKey="numero"
        [(selection)]="selectedTelefones"
        [paginator]="true"
        [rows]="10"
        [responsive]="true"
        (onRowSelect)="onRowSelect($event)"
        paginatorPosition="bottom"
        >
        <!--<ng-template pTemplate="caption">
			List of Cars
		</ng-template>-->
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td>
                    {{rowData['ddd']}}
                </td>
                <td>
                    {{rowData['numero']}}
                </td>
                <td>
                    {{rowData['observacao']}}
                </td>
                <td>
                    {{rowData['tipo_telefone']|telefoneTipo}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>

    <p-dialog header="Telefone" class="modals-telefone-form" [(visible)]="displayDialog" (onHide)="fecharModal()"
              [modal]="true"
              [style]="{width: '400px'}" >

        <form [formGroup]="telefoneForm" (ngSubmit)="addTelefone(telefoneForm.value)">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="ddd">DDD</label>
                    </div>
                    <div class="ui-g-8">
                        <p-inputMask id="ddd" formControlName="ddd" mask="99"></p-inputMask>
                    </div>
                    <div class="ui-g-12 no-pading">
                        <p-message
                            *ngIf="telefoneForm.controls['ddd'].hasError('required') && telefoneForm.controls['ddd'].touched"
                            severity="error" text="Campo Obrigatório"></p-message>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="numero">Número</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText id="numero"
                               (keypress)="mask(telefoneForm.controls['numero'].value, $event.target)"
                               formControlName="numero"/>
                    </div>
                    <div class="ui-g-12 no-pading">
                        <p-message
                            *ngIf="telefoneForm.controls['numero'].hasError('required') && telefoneForm.controls['numero'].touched"
                            severity="error" text="Campo Obrigatório"></p-message>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="observacao">Observações</label>
                    </div>
                    <div class="ui-g-8">
                    <textarea pInputTextarea id="observacao" placeholder="Observações" formControlName="observacao"
                              autoResize="autoResize"></textarea>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="tipo_telefone">Tipo Telefone</label>
                    </div>
                    <div class="ui-g-8">
                        <p-dropdown [options]="tipoTelefones" id="tipo_telefone"
                                    formControlName="tipo_telefone"></p-dropdown>
                    </div>
                </div>
            </div>

            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <button pButton type="button" *ngIf="!checkSave(telefoneForm.value)" label="Salvar"
                            (click)="alterar(telefoneForm.value)" icon="ui-icon-check"
                            class="green-btn footer-right"></button>
                    <button pButton type="submit" *ngIf="checkSave(telefoneForm.value)" label="Adicionar"
                            icon="ui-icon-add" class="green-btn footer-right"></button>
                    <button pButton type="button" *ngIf="selectedTelefones" label="Remover"
                            icon="ui-icon-delete" (click)="delete()" class="red-btn footer-right"></button>
                </div>
            </p-footer>
        </form>
    </p-dialog>
</section>
