/* Common */
$dividerColor:#eaeaea;
$dividerLightColor:#f8f8f8;

/* Colors */
$grayBgColor:#757575;

/* Typography */
$fontFamily:"Roboto","Helvetica Neue",sans-serif;

$fontSize:14px;
$fontSizeH1:20px;

$textColor:#424242;
$textSecondaryColor:#757575;

$fontWeightTitle:600;

$lineHeight:1.5em;

/* Buttons */
$borderRadius:3px;

/* Icons */
$iconWidth:20px;
$iconHeight:20px;
$iconFontSize:20px;
$hoverBgColor:#e8e8e8;
$hoverTextColor:#000000;

/* Menus */
$topbarSubmenuBgColor:#f7f7f7;
$topbarSubmenuItemHoverBgColor:#e3e3e3;

/* Carousel */

/* Navigation */

/* Forms */

/* Grid system */

/* Header */

/* Footer */

/* Sidebar */

/* Pages */
$bodyBgColor:#fcfbfb;
$menuItemHoverBgColor:#e8e8e8;
$menuitemColor:#757575;
$footerBgColor:#ffffff;

/* Themes */

$headerPadding:.625em 1em;
$headerFontSize:1em;

$contentPadding:.625em 1em;
$contentBorderColor:#d8d8d8;
$contentBgColor:#ffffff;

$inputBorderColor:#bdbdbd;
$inputFontSize:1em;
$inputHeaderFontSize:1em;
$inputOptionFontSize:1em;
$inputHeaderPadding:.625em 1em;
$invalidInputLabelColor:#e62a10;
$invalidInputBorderColor:#e62a10;
$inputGroupAddonBgColor:#e6e6e6;
$textboxBgColor:#f7f7f7;

$buttonFontSize:1em;

$listItemPadding:.625em 1em;

$radioButtonBorderColor:#757575;
$checkboxBorderColor:#757575;
$dataTableBorderColor:#cacaca;
$dataTableRowBgColorEven:#f4f4f4;
$tableRowBgColorOdd:#f4f4f4;

/* Vendors */
